{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="box-2">
    <select class="form-control deptId selectpicker" multiple data-live-search="true" data-actions-box="true"
            title="Районы" data-size="8" data-select-all-text="Все" data-deselect-all-text="Очистить"
            id="district">
        {% for district in districts %}
            <option value="{{ district.district }}">{{ district.district }}</option>
        {% endfor %}
    </select>
    <select class="form-control deptId selectpicker" multiple data-live-search="true" data-actions-box="true"
            title="Округи" data-size="8" data-select-all-text="Все" data-deselect-all-text="Очистить"
            id="adm_area">
        {% for adm_area in adm_area %}
            <option value="{{ adm_area.adm_area }}">{{ adm_area.adm_area }}</option>
        {% endfor %}
    </select>
    <select class="form-control deptId selectpicker" multiple data-live-search="true" data-actions-box="true"
            title="Вузы-партнеры" data-size="8" data-select-all-text="Все" data-deselect-all-text="Очистить"
            id="university">
        {% for university in universities %}
            <option value="{{ university.title }}">{{ university.title }}</option>
        {% endfor %}
    </select>
    <select class="form-control deptId selectpicker" multiple data-live-search="true" data-actions-box="true"
            title="Проекты" data-size="8" data-select-all-text="Все" data-deselect-all-text="Очистить"
            id="predprof">
        {% for p in predprof %}
            <option value="{{ p.title }}">{{ p.title }}</option>
        {% endfor %}
    </select>
    <select class="form-control deptId selectpicker" multiple data-live-search="true" data-actions-box="true"
            title="Секции" data-size="8" data-select-all-text="Все" data-deselect-all-text="Очистить"
            id="category">
        {% for category in categories %}
            <option value="{{ category.category }}">{{ category.category }}</option>
        {% endfor %}
    </select>
    <select class="form-control deptId selectpicker" multiple data-live-search="true" data-actions-box="true"
            title="Доступность" data-size="8" data-select-all-text="Все" data-deselect-all-text="Очистить"
            id="disabled">
        <option value="k">Инвалиды-колясочники</option>
        <option value="o">Инвалиды-опорники</option>
        <option value="z">Инвалиды по зрению</option>
        <option value="s">Инвалиды по слуху</option>
    </select>
    <select class="form-control deptId selectpicker" multiple data-live-search="true" data-actions-box="true"
            title="Формы обучения" data-size="8" data-select-all-text="Все" data-deselect-all-text="Очистить"
            id="forms">
        {% for form in forms %}
            <option value="{{ form }}">{{ form }}</option>
        {% endfor %}
    </select>
    <select class="form-control deptId selectpicker" data-live-search="true" data-actions-box="true"
            title="Рейтинг" data-size="8" id="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
</div>
<div class="box-2" id="search">
    <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Поиск" aria-label="Поиск" aria-describedby="search-addon"
               id="search_text" />
        <button class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
        </button>
    </div>
</div>
<div class="box-4" id="schools_get">
    {% for school in schools %}
        <div class="box-5">
            <a href="{{ school.get_absolute_url }}" class="school_button" target="new"><span></span> {{ school.full_name }} </a>
        </div>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if previous_page_number %}
                <button aria-hidden="true" id="{{ previous_page_number }}">&laquo;</button>
            {% endif %}
            <span class="current">
                Страница {{ number }} из {{ num_pages }}
            </span>
            {% if next_page_number %}
                <button aria-hidden="true" id="{{ next_page_number }}">&raquo;</button>
            {% endif %}
        </span>
    </div>
</div>
<div class="box-4" id="schools_post">
</div>
<script>
    $('select').on('change', send_form);

    $('#search button').on('click', send_form);

    $('#schools_get button').on('click', send_paginator);
    $("#schools_post").on("click", "button", send_paginator);

    function send_form() {
        $.ajax({
            type: 'POST',
            data: {
                district: $('#district').val(),
                adm_area: $('#adm_area').val(),
                university: $('#university').val(),
                predprof: $('#predprof').val(),
                category: $('#category').val(),
                disabled: $('#disabled').val(),
                forms: $('#forms').val(),
                rating: $('#rating').val(),
                search_request: $('#search_text').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                load_html(data);
            }
        });
    };

    function send_paginator() {
        $.ajax({
            type: 'POST',
            data: {
                district: $('#district').val(),
                adm_area: $('#adm_area').val(),
                university: $('#university').val(),
                predprof: $('#predprof').val(),
                category: $('#category').val(),
                disabled: $('#disabled').val(),
                forms: $('#forms').val(),
                rating: $('#rating').val(),
                search_request: $('#search_text').val(),
                page_number: $(this).attr('id'),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                window.history.replaceState(null, null, $(location).attr('pathname') + '?page=' + data.number);
                load_html(data);
            }
        });
    };

    function load_html(data) {
        var schools_post = $("#schools_post")
        schools_post.empty();
        schools_post.show();
        $('#schools_get').empty();
        $('#schools_get').hide();
        schools = data.schools;
        absolute_urls = data.absolute_urls;
        previous_page_number = data.previous_page_number;
        next_page_number = data.next_page_number;
        number = data.number;
        num_pages = data.num_pages;
        html = '';
        for(var i = 0 ; i < schools.length ; i++){
            html += '<div class="box-5"><a href="' + absolute_urls[i] + '" class="school_button" target="new"><span></span>' + schools[i].full_name + '</a></div>';
        }
        html += '<div class="pagination"><span class="step-links">';
        if (previous_page_number != 0) {
            html += '<button aria-hidden="true" id="' + previous_page_number + '">&laquo;</button>';
        }
        html += '<span class="current">Страница ' + number +' из ' + num_pages + '</span>';
        if (next_page_number != 0) {
            html += '<button aria-hidden="true" id="' + next_page_number + '">&raquo;</button>';
        }
        html += '</span></div>';
        schools_post.append(html)
    }
</script>
{% endblock %}
