@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans Condensed', sans-serif;
}

div[class*=box] {
    width: 100%;
    background-color: #f5f5f5;
}

.navigation {
    display: flex;
}

.main {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
}

.box-1 {
    justify-content: right;
    align-items: center;
    position: sticky;
    display: flex;
}
.box-2 {
    padding: 1em;
    display: flex;
}
.box-3 {
    justify-content: left;
    align-items: center;
}

.button {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    color: #FFF;
    transition: all 0.3s;
    position: relative;
    background-color: #a3a3a3;
}

.button-login {
    background-color: #FF6766;
}

.button-reg {
    background-color: #309660;
}

.button span {
    transition: all 0.3s;
}
.button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
}
.button:hover span {
    letter-spacing: 2px;
}
.button:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}
.button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.3);
}
.button:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}